/* Global variables */
:root {
    --body-color: black;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --main-color: yellow;
    --sub-color1: black;
    --sub-color2: rgba(49, 49, 49, 0.905);
    --sub-color3: white;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 0px;
    margin-top: -90px;
    padding: 0px;
    top: 0;
    left: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: var(--body-color, black);
    background-image: url("../images/MaryamMirzakhanis.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Header classes and ids*/
#title {
    text-shadow: 2px 2px 1px var(--shadow-color, black);
}

header {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: block;
}

.page-header {
    background-color: var(--main-color, yellow);
    border: 2px solid var(--sub-color1, black);
    position: fixed;
    height: auto;
    opacity: 90%;
    width: 100%;
    z-index: 1;
}

.header-title {
    color: var(--sub-color1);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
    line-height: 30px;
}

.header-text {
    color: var(--sub-color1);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
    line-height: 25px;
}

/* Nav classes and ids */
.page-nav {
    background-color: var(--sub-color2, gray);
    border: 2px solid var(--sub-color1, black);
    position: fixed;
    opacity: 90%;
    width: 100%;
    z-index: 1;
    margin-top: 58px;
}

nav ul {
    margin: auto;
}

nav li {
    display: inline;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: var(--main-color, yellow);
}

a:hover {
    color: var(--sub-color3, white);
}

p {
    color: rgb(255, 255, 0);
    text-align: justify;
    line-height:35px;
    font-size: 17px;
}

/* main id*/
#main {
 
    
}

.div2 {
    margin: 100px;
}

#img-div {
    display: block;
    background-color:rgba(56, 56, 56, 0.503);
    margin: auto;
    width: 60%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 75px 10px 75px;
    margin-top: 40px;
    box-shadow: 0 5px 5px rgb(255, 255, 255), 0 6px 6px rgb(255,255,255);
}

#tribute-info {
    
    background-color:rgba(56, 56, 56, 0.503);
    margin: auto;
    width: 70%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 30px;
    padding: 7px;
    box-shadow: 0 5px 5px rgb(255, 255, 255), 0 6px 6px rgb(255,255,255);
}

#image {
    display: block;
    min-width: 100%;
    max-width: 100%;
    
}

#img-caption {
    color: yellow;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.textStyle {
    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

.header-space {
    background-color: blue;
    margin: 120px;
}

.aclass {
    color:var(--sub-color3, white);
}